.breedslist__button {
  background-color: #f58b00;
  border: none;
  border-radius: 0.3rem;
  color: #373737;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: bold;
}


.breedslist__title {
  border-bottom: 0.1rem solid white;

}

@media (prefers-color-scheme: light) {
  .breedslist__title {
    border-bottom: 0.1rem solid black;
  }
}


.breed {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.breed__checkmark {
  height: 2rem;
  width: 2rem;
  fill: #008000;
}

.breed__name {
  margin-bottom: 1rem
}