.content__container {
  display: flex;
  width: 100%;
}

.content_breedslist {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content__questionnaire {
  width: 50%;
}